.contact-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  flex: 1;
}

.contact-link {
  display: flex;
  flex: 1;
  justify-content: center;
}
