.project-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;
}

.projects-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem; /* Ensure content starts below the fixed h1 */
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.projects-container::-webkit-scrollbar {
  display: none; /* Hide scrollbars if desired */
}

.project-grid {
  padding-bottom: 30px;
}
