.footer-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8vh;
  width: 100%;
}
