@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  background: linear-gradient(90deg, #0f47f0, #02acfd);
}

body {
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

.non-scrollable-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scrollable-content {
  width: 80%;
  height: 80%;
  margin: 10% auto; /* Center the content */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Padding inside the scrollable content */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(90deg, #0f47f0, #02acfd);
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
