body {
  overflow: hidden;
}

.scroll-container {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth; /* Disable smooth scroll */
}

.section {
  padding: 20px;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}
