body {
  font-family: "Rubik", sans-serif;
  overflow: auto;
  height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scroll-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: auto;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  min-height: 100vh;

  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .section {
    padding-bottom: 60px;
  }
}
