body {
  overflow: hidden;
}

.scroll-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto; /* Disable smooth scroll */
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

.section1 {
}

.section2 {
}

.section3 {
  display: flex;
  flex-direction: column;
}

.contact {
  flex: 0.9;
}

.footer {
  flex: 0.1;
}
