.gradient-background {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-bar-text {
  font-size: 2rem;
  font-weight: bold;
}

.top-bar-secondary-text {
  font-size: 1rem;
  font-weight: bold;
}

.title-bar {
  padding-left: 5px;
}
